version: "3.8"
services:

#######################
#######################
##### DOWNLOADERS #####
#######################
#######################
    
######################
## TRANSMISSION-VPN ##
######################

  transmission-vpn:
    container_name: transmission-vpn
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: unless-stopped
    ports:
    - "$TRANSMISSION_PORT:9091" #transmission-webui
    - "$RADARR_PORT:7878" #radaar
    - "$SONARR_PORT:8989" #sonaar
    - "$JACKETT_PORT:9117" #jackett
    - "$LIDARR_PORT:8686" #lidarr
    dns:
      - 1.1.1.1
      - 1.0.0.1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $DOCKERDIR/transmission-vpn:/data
      - $DOCKERDIR/shared:/shared
      - $DOWNLOADS_COMPLETE:/data/completed
      - $DOWNLOADS_INCOMPLETE:/data/incomplete
    environment:
      - OPENVPN_PROVIDER=$VPN_PROVIDER
      - OPENVPN_USERNAME=$VPN_USERNAME
      - OPENVPN_PASSWORD=$VPN_PASSWORD
      - OPENVPN_CONFIG=uk-lon_tcp.ovpn
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - LOCAL_NETWORK=$LOCAL_NETWORK
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      - TRANSMISSION_RPC_HOST_WHITELIST="127.0.0.1,192.168.*.*"
      - TRANSMISSION_RPC_PASSWORD=$TRANSMISSION_RPC_PASSWORD
      - TRANSMISSION_RPC_USERNAME=$TRANSMISSION_RPC_USERNAME
      - TRANSMISSION_UMASK=2
      - TRANSMISSION_RATIO_LIMIT=0.1
      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
      - TRANSMISSION_DOWNLOAD_QUEUE_SIZE=10
      - TRANSMISSION_PEER_PORT=$TRANSMISSION_PEER_PORT
      - TRANSMISSION_IDLE_SEEDING_LIMIT=1
      - TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED=true


################
################
### TRACKERS ###
################
################

###############################
## JACKETT - TORRENT INDEXER ##
###############################

  jackett:
    image: "linuxserver/jackett"
    container_name: "jackett"
    volumes:
      - $DOCKERDIR/jackett:/config
      - $DOWNLOADS_COMPLETE:/downloads
      - "/etc/localtime:/etc/localtime:ro"
      - $DOCKERDIR/shared:/shared
    restart: unless-stopped
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    network_mode: "service:transmission-vpn"


#####################
#####################
######  MEDIA  ######
#####################
#####################

#######################
## SONARR - TV SHOWS ##
#######################

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/sonarr/config:/config
      - $TV_SHOWS:/tv
      - $DOWNLOADS_COMPLETE:/data/completed
      - "/etc/localtime:/etc/localtime:ro"
      - $DOCKERDIR/shared:/shared
    restart: unless-stopped
    network_mode: "service:transmission-vpn"

#####################
## RADARR - MOVIES ##
#####################

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/radarr/config:/config
      - $DOWNLOADS_COMPLETE:/data/completed
      - $MOVIES:/movies
      - "/etc/localtime:/etc/localtime:ro"
      - $DOCKERDIR/shared:/shared
    restart: unless-stopped
    network_mode: "service:transmission-vpn"

####################
## LIDARR - MUSIC ##
####################

  lidarr:
    image: linuxserver/lidarr
    container_name: lidarr
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=$TZ
    volumes:
      - $DOCKERDIR/lidarr/config:/config
      - $MUSIC:/music
      - $DOWNLOADS_COMPLETE:/data/completed
      - "/etc/localtime:/etc/localtime:ro"
      - $DOCKERDIR/shared:/shared
    restart: unless-stopped
    network_mode: "service:transmission-vpn"
